# Archived old pipeline code
BasicQC/pipeline_v1/

**/CGLZOO_*/
**/logs/
*.fastq.gz
*.bam
*.sam
*.log
*.tmp
*.err
*.out
*.chain.gz
*.chain
*.bed
._*
**/data/
**/FastQ_Screen_Genomes/
**/kraken/
genomes/*
!genomes/README.md
!genomes/scripts/
!genomes/genome_metadata.tsv
!genomes/update_genome_list.sh
genomes/ncbi_dataset/
genomes/primate_T2T/
genomes/rRNA_indices/
genomes/TOGA_annotations/
genomes/TOGA_genomes/
genomes/TOGA_test/
genomes/TOGA_primates/_Homo_sapiens/
genomes/chains/
**/work/
**/map2*/
**/ATAC_test/
data_transfer/
RNA-seq/Batch1_HQ_Genomes/
genomes/chains/
.DS_Store
